<div class="A4 mx-auto d-flex flex-column">
    <div class="d-flex flex-row justify-content-between">
      <div>
        <div class="text-center">UBND TỈNH QUẢNG NINH</div>
        <div class="text-center fw-bold">TRƯỜNG ĐẠI HỌC HẠ LONG</div>
        <div
          style="
            width: 94px;
            height: 1px;
            background-color: black;
            margin-top: -1px;
            margin-left: auto;
            margin-right: auto;
          "
        ></div>
      </div>
      <div>
  
      </div>
    </div>
    <div
      class="text-center fw-bold"
      style="margin-top: 35px; text-transform: uppercase"
    >
      THEO DÕI KẾT QUẢ GIẢI QUYẾT CHẾ ĐỘ <br />TRỢ CẤP XÃ HỘI CHO SINH VIÊN
    </div>
    <div class="d-flex flex-column mt-5">
      <table
        class="border-1 border-black border"
        style="border-collapse: collapse"
      >
        <tr class="text-center p-0">
          <th class="border border-1 border-black">STT</th>
          <th class="border border-1 border-black">Năm học</th>
          <th class="border border-1 border-black">Học kỳ</th>
          <th class="border border-1 border-black">Số SV hưởng</th>
          <th class="border border-1 border-black">Số tiền hưởng</th>
          <th class="border border-1 border-black">Số QĐ</th>
          <th class="border border-1 border-black">Ngày QĐ</th>
        </tr>
        <tr style="height: 30px">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr style="height: 30px">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr style="height: 30px">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr style="height: 30px">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr style="height: 30px">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        
        <tr style="height: 30px">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="d-flex flex-row justify-content-between px-5 mt-5">
      <div class="d-flex flex-column justify-content-end text-center"></div>
      <div class="text-center px-5">
        <!-- <div class="fw-bold">Người lập biểu</div>
        <div class="fst-italic">(ký, ghi rõ họ tên)</div> -->
        <br />
      </div>
    </div>
  </div>
  