<div class="A4 mx-auto d-flex flex-column">
  <div class="d-flex flex-row justify-content-between">
    <div>
      <div class="text-center">TRƯỜNG ĐẠI HỌC HẠ LONG</div>
      <div class="text-center fw-bold">PHÒNG CTCT, HT&SV</div>
      <div
        style="
          width: 94px;
          height: 1px;
          background-color: black;
          margin-top: -1px;
          margin-left: auto;
          margin-right: auto;
        "
      ></div>
    </div>
    <div>
      <span class="fst-italic">Uông Bí, ngày ….. tháng ….. năm ……</span>
    </div>
  </div>
  <div class="text-center fw-bold" style="margin-top: 35px">PHIẾU TRÌNH</div>
  <div class="text-center d-flex flex-column">
    <span>Kính gửi: Đồng chí ………………………..</span>
    <span>Vấn đề trình: Trình ký duyệt ………………….</span>
  </div>
  <div class="d-flex flex-column mt-3">
    <table
      class="border-1 border-black border"
      style="border-collapse: collapse; "
    >
      <tr class="text-center p-0">
        <th class="border border-1 border-black">
          TÓM TẮT TÌNH HÌNH VÀ KIẾN NGHỊ
        </th>
        <th class="border border-1 border-black">QUYẾT ĐỊNH CỦA CẤP TRÊN</th>
      </tr>
      <tr style="height: 30px" class="py-0">
        <th class="border border-1 border-black">1. Tóm tắt tình hình</th>
        <th></th>
      </tr>
      <tr style="height: 120px">
        <td class="align-top"></td>
        <td></td>
      </tr>
      <tr style="height: 160px">
        <td class="align-top" style="max-width: 60%; width: 60%">
          <div class="fw-bold fst-italic lh-1">
            1. Quyết định Trợ cấp xã hội cho SV học kỳ ……., năm học……….. Quyết
            định………., ngày….. tháng….. năm….. <br />
            <div class="fst-normal fw-medium ms-1 mt-1 mb-2">
              Tổng số HSSV được trợ cấp:………………. <br />
              Tổng số tiền:……………… <br />
            </div>
            2. Quyết định Hỗ trợ chi phí học tập cho SV học kỳ ……., năm
            học………..Số Quyết định………., ngày…..tháng….. năm….. <br />
            <div class="fst-normal fw-medium ms-1 mt-1">
              Tổng số HSSV được hỗ trợ:………………. <br />
              Tổng số tiền:………………
            </div>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <th class="border border-1 border-black">2. Ý kiến của người trình</th>
        <th></th>
      </tr>
      <tr>
        <td class="align-top">
          Kính trình Đồng chí Trần Trung Vỹ duyệt, ký ban hành <br />
          Quyết định (Có Danh sách kèm theo)
        </td>
        <td></td>
      </tr>
      <tr>
        <th class="border border-1 border-black">
          3. Ý kiến của các đơn vị liên quan
        </th>
        <th></th>
      </tr>
      <tr style="height: 100px">
        <td class="align-top">Ý kiến của Phòng KH-TC:</td>
        <td></td>
      </tr>
      <tr>
        <th class="border border-1 border-black">
          4. Ý kiến của Trưởng phòng:
        </th>
        <th></th>
      </tr>
      <tr style="height: 80px">
        <td class="align-top">
          <!-- Kính trình đồng chí Trần Trung Vỹ xem xét, phê duyệt. -->
        </td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="d-flex flex-row justify-content-between px-5 mt-1"></div>
</div>
