<div class="A4 mx-auto d-flex flex-column">
  <div class="d-flex flex-row justify-content-between">
    <div>
      <div class="text-center">TRƯỜNG ĐẠI HỌC HẠ LONG</div>
      <div class="text-center fw-bold">PHÒNG CTCT, HT&SV</div>
      <div
        style="
          width: 94px;
          height: 1px;
          background-color: black;
          margin-top: -1px;
          margin-left: auto;
          margin-right: auto;
        "
      ></div>
    </div>
    <div>
      <div class="text-center">CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</div>
      <div class="text-center fw-bold">Độc lập - Tự do - Hạnh phúc</div>
      <div
        style="
          width: 203px;
          height: 1px;
          background-color: black;
          margin-top: -1px;
          margin-left: auto;
          margin-right: auto;
        "
      ></div>
      <div class="text-center fst-italic mt-1">
        Quảng Ninh, ngày ?? tháng ?? năm ????
      </div>
    </div>
  </div>
  <div
    class="text-center fw-bold"
    style="margin-top: 35px; text-transform: uppercase"
  >
    Sổ theo dõi sinh viên rút hồ sơ
  </div>
  <div class="d-flex flex-column mt-5">
    <table
      class="border-1 border-black border"
      style="border-collapse: collapse"
    >
      <tr class="text-center p-0">
        <th class="border border-1 border-black">ST</th>
        <th class="border border-1 border-black">Họ tên</th>
        <th class="border border-1 border-black">Ngày sinh</th>
        <th class="border border-1 border-black">Lớp</th>
        <th class="border border-1 border-black">Ngày lấy</th>
        <th class="border border-1 border-black">Ký tên</th>
      </tr>
      <tr style="height: 30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr style="height: 30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="height: 30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="d-flex flex-row justify-content-between px-5 mt-5">
    <div class="d-flex flex-column justify-content-end text-center"></div>
    <div class="text-center px-5">
      <div class="fw-bold">Người lập biểu</div>
      <div class="fst-italic">(ký, ghi rõ họ tên)</div>
      <br />
    </div>
  </div>
</div>
